body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.error {
  color:red;
}
.mandatory {
  color:red;
}
div.login_table
{
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 2em;
  margin: auto;
  width: 50vw;
}
div.register_form
{
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 2em;
  margin: auto;
  width: 50vw;
}
div.form_item
{
  padding-bottom: 1em;
}

div.schedule
{
  border-radius: 15px;
  background-color: #f2f2f2;
  margin: auto;
  width: 70vw;
  padding: 2em;
}

p.headers
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#schedule table
{
  border-collapse: collapse;
}
td, th
{
  padding: 8px;
  text-align: center;
  font-size: 1em;
}
#schedule td, #schedule th {
  border: 1px solid #ddd;
  padding: 8px;
}

#schedule td:first-child { text-align: left; }
#schedule tr:nth-child(even){background-color: #CDE9CE;}
#schedule tr:hover {background-color: #ddd;}
#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

tr.assisting_row
{
  color: green;
}

tr.no_assisting_row
{
}

a.schedule_button:link, a.schedule_button:visited {
  background-color: #f44336;
  color: white;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5em;
}
a.schedule_button:hover, a.schedule_button:active {
  background-color: red;
}

input[type=text], select {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 0.5em;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
